.reviewWrapper {
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reviewHeader {
  display: flex;
  gap: 16px;
  align-items: center;
}

.reviewIconWrap {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: var(--block-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewIcon {
  color: var(--button-color);
}

.reviewAndName {
  display: ;
}

.name {
  font-size: 18px;
  font-weight: 600px;
  line-height: 24px;
}

.reviewText {
  line-height: 24px;
  color: var(--text-color);
}

.ratingWrapper {
  margin-top: 4px;
  display: flex;
  gap: 4px
}