@import '../../css/var.css';

.vehicleType[type="radio"] {
  display: none;
}

.label {
  text-align: center;
  height: 95px;
  max-width: 128px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
  box-sizing: border-box;
}

.label>span {
  font-size: 16px;
  font-weight: 500;
}

.vehicleType:checked+.label {
  border-color: var(--button-color);
}