.header {
  margin-top: 44px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 24px;
}

.rowWrap {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
}