@import 'css/var.css';

.searchForm {
  width: 360px;
}

.filtersLabel {
  color: #475467;
  margin-top: 32px;
  margin-bottom: 14px;
  line-height: 24px;
  font-weight: 500;
}

.searchHeader {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
}

.filterIcon {
  padding: 10px;
  border-radius: 10px;
  border-color: var(--main-color);
  opacity: 20%;
}

.icon {
  fill: var(--main-color);
}



.searchBtn {
  padding: 16px 60px;
  margin-top: 64px;
  border: none;
  border-radius: 200px;
  background-color: var(--button-color);
  color: #fff;
  font-weight: 500;

}


.searchBtn:hover {
  background-color: var(--button-hover-color);
}