@import 'css/var.css';

.card {
  padding: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  width: inherit;
  display: flex;
  gap: 24px;
}

.cardImgWrapper {
  width: 290px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
}

.cardInfo {
  width: 526px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.cardDescription {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}


.cardHeader,
.cardHeaderPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeader {
  width: 100%;
}

.favIcon {
  border: none;
  background-color: #fff;
}

.cardHeaderPrice {
  gap: 10px;
}

.cardImg {
  object-fit: cover
}

.price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.categoryPinsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.cardBtn {
  padding: 16px 40px;
  background-color: var(--button-color);
  color: #fff;
  border: none;
}

.cardBtn:hover {
  background-color: var(--button-hover-color);
}