@import '../../css/var.css';

.header {
  border-bottom: 1px solid var(--star-color);
  box-shadow: 0px 4px 3px -3px var(--button-hover-color);
}

.navList {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 80px;
  font-weight: 800;
  padding-left: 0;
}

.navLink>a {
  text-decoration: none;
  color: var(--main-color);
  display: block;
}

.navLink>a:hover {
  color: var(--button-hover-color);
}