.formWrapper {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 448px;
  box-sizing: border-box;
  gap: 24px;
}

.formMoto {
  color: var(--text-color);
  margin-top: 8px;
}

.inputsWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;
}